extends base 

block content 
    h4 Change title of video
    form(method="POST") 
        input(name="title", placeholder="Video Title", type="text", value=video.title, required) 
        input(value="Save", type="submit")