extends base 
include mixins/video

block content 
    .recent 
        h1 Recent Videos
        .recent-videos 
            each item in videos 
                +video(item)

            else 
                span Sorry nothing found.