extends base.pug 

block content 
    if errorMessage 
        span=errorMessage
    form(method="post") 
        input(name="title", placeholder="Title", type="text", maxlength=80, required) 
        input(name="description", placeholder="Description", type="text", maxlength=200, required) 
        input(name="hashtags", placeholder="Hashtags, separated by comma", type="text", required) 
        input(type="submit", value="Upload Video")